header{
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.logo{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.header-link{
    text-decoration: none;
color: black;
}

.header-wrapper{
    display: flex;
    align-items: center;
    // z-index: 100;
}